#developer-cell {
  max-width: 250px;
}

tr > th {
  background-color: lightgray;
}

.container {
  width: 80%;
}

.form-container {
  
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  font-weight: bold;
}